<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;1,400&family=Poppins:wght@200&family=Righteous&family=Teko:wght@300&display=swap" rel="stylesheet">

    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>Weather App</title>
</head>
<body>
    <div class="cont">
        <img src="images/Weather Icon.png" height="150px" width="150px" alt="">
        <h1> Weather App</h1>
        <form class="f" action="/" method="post">
            <label class ="l" for="name">City/Country:</label><br>
            <input class="i" type="text" name="name" id="name"><br>
            <button class="b" type="submit">Search</button>
        </form>
    </div>
    
</body>
</html> 